<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- link bootstrap  --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    {{!-- link google fonts --}}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cormorant+SC" rel="stylesheet">
    {{!-- link css stylesheet --}}
    <link rel="stylesheet" href="public/assets/css/style.css">
    
    <title>Unit 18 | News Scraper</title>
</head>
<body>
  {{!-- navbar --}}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">News Scraper</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{home.handlebars}}">Saved Articles</a>
      <a class="nav-item nav-link scrape" href="{{views/saved.handlebars}}">Scrape New Articles</a>
    </div>
  </div>
</nav>

  <div class="container">
    {{{body}}}
  </div>
  

  {{!-- footer --}}
<footer class="footer">
    <div class="container">
        <p>New York Times Mongo Scraper 2019</p>
    </div>
</footer>

  {{!-- note display window --}}
  <div id="addnote">
		<div id="note-displayer">
			<h2>Add/Edit Notes</h2>
			<h3><span id="article-title"></span></h3>
			<div id="note">
				<label for="note-title">Title: </label><br>
				<input type="text" placeholder="Title" name="title" id="note-title"><br>
				<label for="note-body">Body</label><br>
				<textarea rows="7" placeholder="Note" id="note-body"></textarea><br>
				<button type="submit" id="add-note">Save</button>
				<button type="button" id="close-note">Close</button>
			</div>
		</div>
	</div>
  
    {{!-- link script source --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="app.js"></script>

</body>
</html>