{{!-- article cards --}}
<div class= "card container">
    <div class="card" style="width: 18rem;">
        <img src={{this.img}} class="card-img-top" alt={{this.title}}>
        <div class="card-body">
            <h5 class="title">{{this.title}}</h5>
            <p class="description">{{this.description}}</p>
            <a href="#" class="btn btn-primary edit"> Edit Note </a>
            <a href="#" class="btn btn-primary delete"> Delete </a>
        </div>
    </div>
</div>